[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
gunicorn = "==19.9.0"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
